<%# app/views/kaminari/_next_page.html.erb %>
<span class="next">
  <%= link_to_unless current_page.last?, t('views.pagination.next').html_safe, url,
    remote: remote,
    class: "px-3 py-1 bg-white border border-gray-300 text-gray-500 rounded hover:bg-gray-100 #{current_page.last? ? 'cursor-not-allowed opacity-50' : ''}" %>
</span>